@model Cliente.Models.VMs.AdminViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Admin</h1>

<h4>¡Administrá el sitio!</h4>
<hr />
<div class="row text-white">
    <div class="col-lg-4">
        <form class="p-3 granite rounded" asp-controller="Match" asp-action="Create">
            <h5>Ingresá un nuevo partido</h5>
            <p>
                Recordá que las selecciones tienen que estar en el mismo grupo, y que local
                y visitante deben ser selecciones distintas.
            </p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select class="form-select d-block form-control-lg" asp-for="HomeId">
                    <option selected></option>
                    @foreach (var group in ViewBag.Groups)
                    {
                        @foreach (var team in group.nationalTeams)
                        {
                            <option value="@team.id">@team.name</option>
                        }
                    }
                </select>
                <span asp-validation-for="HomeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-select d-block form-control-lg" asp-for="AwayId">
                    <option selected></option>
                    @foreach (var group in ViewBag.Groups)
                    {
                        @foreach (var team in group.nationalTeams)
                        {
                            <option value="@team.id">@team.name</option>
                        }
                    }
                </select>
                <span asp-validation-for="AwayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hour" class="control-label"></label>
                <input asp-for="Hour" class="form-control" />
                <span asp-validation-for="Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-success btn-block" />
            </div>
        </form>
        <form class="p-3 granite rounded" asp-controller="GroupStage" asp-action="AssignNTtoGS" method="post">
            <h5>Asignar Selección</h5>
            <p>
                Recordá que los grupos no pueden tener más de 4 selecciones.
            </p><select name="idGroup" id="idGroup" class="form-select d-block form-control-lg">
                @foreach (var group in ViewBag.Groups)
                {
                    <option value="@group.id">Grupo @group.group</option>
                }
            </select>
            <select name="idNationalTeam" id="idNationalTeam" class="form-select d-block form-control-lg">
                @foreach (var nt in ViewBag.ntWithoutGroup)
                {
                    <option value="@nt.id">@nt.name</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Asignar" class="btn btn-outline-success btn-block" />
            </div>
        </form>
    </div>
    <div class="col-4">
        <form class="p-3 granite rounded" asp-controller="GroupStage" asp-action="Create">
            <h5>Ingresá un nuevo grupo</h5>
            <p>Recordá que no puede haber más de ocho grupos en total.</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-success btn-block" />
            </div>
        </form>
        <div>
            @foreach (var group in ViewBag.Groups)
            {
            <div class="card bg-dark text-bg-dark my-3">
                <div class="card-header">GRUPO @group.group</div>
                <div class="card-body">
                    <h5 class="card-title">Modifica o elimina este grupo</h5>
                    <form class="d-inline" asp-controller="GroupStage" asp-action="Delete" method="post">
                        <input type="number" name="id" value="@group.id" hidden />
                        <input type="text" name="group" value="@group.group" hidden />
                        <input class="btn btn-outline-danger" type="submit" value="Eliminar" />
                    </form>
                    <form class="d-inline" asp-controller="GroupStage" asp-action="Edit" method="get">
                        <input type="number" name="id" value="@group.id" hidden />
                        <input type="text" name="group" value="@group.group" hidden />
                        <input class="btn btn-outline-danger" type="submit" value="Editar" />
                    </form>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="col-4">
        <form class="p-3 granite rounded" asp-controller="NationalTeam" asp-action="Create" method="Post">
            <h5>Ingresá una nueva selección</h5>
            <p>Tené en cuenta que el país no debe tener una selección ya asignada.</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select class="form-select d-block form-control-lg" asp-for="CountryId">
                <option selected></option>
                @foreach (var country in ViewBag.Countries)
                {
                    <option value="@country.id">@country.name</option>
                }
            </select>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bettors" class="control-label"></label>
                <input asp-for="Bettors" class="form-control" />
                <span asp-validation-for="Bettors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-success btn-block" />
            </div>
        </form>
        <div>
            @foreach (var group in ViewBag.Groups)
            {
            <h6 class="text-dark mt-3">GRUPO @group.group</h6>
                @foreach (var team in group.nationalTeams)
	            {
                    <div class="card bg-dark text-bg-dark my-3">
                        <div class="card-header">SELECCIÓN: @team.name</div>
                        <div class="card-body">
                            <h5 class="card-title">Modifica o elimina esta selección nacional</h5>
                            <form class="d-inline" asp-controller="NationalTeam" asp-action="Delete" method="post">
                                <input type="number" name="id" value="@team.id" hidden />
                                <input class="btn btn-outline-danger" type="submit" value="Eliminar" />
                            </form>
                            <form class="d-inline" asp-controller="NationalTeam" asp-action="Update" method="get">
                                <input type="number" name="id" value="@team.id" hidden />
                                <input class="btn btn-outline-danger" type="submit" value="Editar" />
                            </form>
                            <form class="d-inline" asp-controller="GroupStage" asp-action="AssignNTtoGS" method="post">
                                <input type="number" name="idNationalTeam" id="idNationalTeam" value="@team.id" hidden />
                                <select name="idGroup" id="idGroup" class="form-select form-control-lg">
                                    @foreach (var gs in ViewBag.Groups)
                                    {
                                        <option value="@gs.id">Grupo @gs.group</option>
                                    }
                                </select>
                                <input class="btn btn-outline-danger" type="submit" value="Re-Asignar" />
                            </form>
                        </div>
                    </div>
	            }
                
            }
        </div>
    </div>
</div>

