@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-12 granite text-light py-5">
        <h1>¡Bienvenido,  @Context.Session.GetString("username")!</h1>
        <p>¡Buscá un partido, poné tu apuesta y ganá!</p>
    </div>

    <div class="col-lg-6 granite p-5 text-white">
        <!-- Búsqueda por ISO de selección -->
        <form class="d-flex flex-column justify-content-center" method="get" asp-controller="Search" asp-action="ByIso">
            <div class="form-group row">
                <input type="text" class="col-12 form-control form-control-lg" id="query" name="query" placeholder="Ingrese código ISO-Alfa3...">
                <input class="btn btn-outline-light btn-block" type="submit" value="Buscar" />
            </div>
        </form>
        <!-- Búsqueda por nombre de selección -->
        <form class="d-flex flex-column justify-content-center" method="get" asp-controller="Search" asp-action="ByNationalTeamName">
            <div class="form-group row">
                <input type="text" class="col-12 form-control form-control-lg" id="query" name="query" placeholder="Ingrese nombre de país...">
                <input class="btn btn-outline-light btn-block" type="submit" value="Buscar" />
            </div>
        </form>
        @if (@Context.Session.GetString("role") == "Admin" || (@Context.Session.GetString("role") == "Apostador"))
        {
            <!-- Búsqueda por nombre de grupo -->
            <form class="d-flex flex-column justify-content-center" asp-controller="Search" asp-action="ByGroup">
                <div class="form-group py-1 row">
                    <select name="name" class="form-select form-control-lg d-block py-1 col-12" aria-label="Default select example">
                        <option selected>Seleccioná un grupo</option>
                        @foreach (var item in ViewBag.Groups)
                        {
                            <option value="@item.group">@item.group</option>
                        }
                    </select>
                    <input class="btn btn-outline-light btn-block" type="submit" value="Buscar" />
                </div>
            </form>
            <!-- Búsqueda entre dos fechas -->
            <form class="d-flex flex-column justify-content-center" asp-controller="Search" asp-action="BetweenDates">
                <div class="form-group py-1 row">
                    <input type="date" data-date-format="dd/mm/yyyy" class="col-12 form-control form-control-lg datepicker" id="fromDate" name="fromDate" placeholder="Desde fecha...">
                    <input type="date" data-date-format="dd/mm/yyyy" class="col-12 form-control form-control-lg datepicker" id="toDate" name="toDate" placeholder="Hasta fecha...">
                    <input class="btn btn-outline-light btn-block" type="submit" value="Buscar" />
                </div>
            </form>
        }
    </div>

    <div class="col-lg-6 granite text-center">
        <figure>
            <img src="~/img/logo.svg" class="img-fluid rounded" />
        </figure>
    </div>
</div>

<div class="row">
    @foreach (var item in ViewBag.Groups)
    {
        <div class="col-lg-3 my-3">
            <div class="card granite text-light">
                <div class="card-body">
                    <h5 class="card-title">GRUPO @item.group</h5>
                    @foreach (var nt in item.nationalTeams)
                    {
                        <h6>@nt.name</h6>

                    }
                    <form method="get" asp-controller="Search" asp-action="ByGroup" class="mb-1">
                        <input type="hidden" id="name" name="name" value="@item.group">
                        <input class="btn btn-outline-light btn-block" type="submit" value="Ver Partidos" />
                    </form>
                    <form method="get" asp-controller="GroupStage" asp-action="GetTableByBroup">
                        <input type="hidden" id="group" name="group" value="@item.group">
                        <input class="btn btn-outline-light btn-block" type="submit" value="Ver Tabla" />
                    </form>
                </div>
            </div>
        </div>
    }
</div>
